<!DOCTYPE html>
<html>
<head>
    <title>NTPC - Contact</title>
    <link rel="stylesheet" type="text/css" href="~/Content/newsite.css" />
</head>
<body>
    <section class="content">
        <h2>Contact Us...</h2>
       
        <p>If you have any queries or would like to get in touch with us, please use the contact information below:</p>
        <p>Email: info@ntpc.co.in</p>
        <p>Phone: +91-1234567890</p>
        <p>Address: 123, Scope Complex, New Delhi, India</p>
    </section>
</body>
</html>
