<html>
<head>
    <link rel="stylesheet" href="~/Content/Site.css" />
    <!--<link rel="stylesheet" href="~/css/newsite.css" />-->
    <title>Welcome to my site</title>

</head>
<body>
    <!--FIRST DIV-->
    <div class="firstdiv">
        <!--home div-->
        <div class="dropdown">
            <a href="/Home/Index"><button class="dropbtn">Home </button></a>

        </div>
        <!--bd department div-->
        <div class="dropdown">
            <button class="dropbtn">BD Department ︾</button>
            <div class="dropdown-content">
                <a href="https://drive.google.com/file/d/1CXedQRVr_lThhoWDhrmcHQ4Aexh7BT52/view?usp=sharing">Organization</a>
                <a href="/Home/Login">Idea Portal</a>
                <a href="#service">Our Projects</a>

            </div>
        </div>
        <!--cc department div-->
        <div class="dropdown">
            <button class="dropbtn">Important Links ︾</button>
            <div class="dropdown-content">
                <a href="https://myapps.microsoft.com/">SSO</a>
                <a href="http://10.0.20.20/">ESS</a>
                <a href="https://pradip.ntpc.co.in/wps/portal">PRADIP</a>
                <a href="https://ussc.ntpc.co.in/English/Default.aspx">HR USS</a>
                <a href="http://10.1.97.1:2019/GoTo/dop-2018.pdf">DOP</a>
                <a href="http://10.0.11.56/cchr/live/policy/HR_Manual/index.htm">HR Policy Manual</a>
                <a href="http://10.0.8.68/ccAuth/WebContents/ArticleDetails/HR%20Circulars%20and%20Policies?SiteName=CC%20-%20EOC">HR Policies</a>
            </div>
        </div>

        <!--ntpc webpage div-->
        <div class="dropdown">
            <a href="https://www.ntpc.co.in/"> <button class="dropbtn">NTPC Web Page </button></a>
            <!--  <div class="dropdown-content">
            <a href="/Home/Contact">Address</a>
            <a href="#">HQ at Map</a>

        </div>-->
        </div>

        <!--ext links div-->
        <div class="dropdown">
            <button class="dropbtn">Important Ext Links ︾</button>
            <div class="dropdown-content">
                <a href="https://powermin.gov.in/">Ministry of Power</a>
                <a href="https://mnre.gov.in/">Ministry of New and Renewable Energy</a>
                <a href="https://cea.nic.in/?lang=en">Central Electricity Authority</a>
                <a href="https://www.niti.gov.in/">Niti Aayog</a>

            </div>
        </div>

        <!--site rhqs div-->
        <div class="dropdown">
            <a href="http://10.0.8.68/ccAuth/WebContents/ArticleDetails/Links%20to%20Plants?SiteName=CC%20-%20EOC"><button class="dropbtn">Site/RHQs/JVs</button></a>

        </div>

        <!--knowledge div-->
        <div class="dropdown">
            <button class="dropbtn">Knowledge Management </button>
        </div>
        <!--admin div-->
        <div class="dropdown">
            <button class="dropbtn"><a class="admin" href="/Home/Login">Login</a></button>
        </div>
    </div>

    <!--SECOND DIV-->
    <div class="seconddiv">
        <h1 class="heading">NTPC<br />Business Development</h1>
        <h2 class="subheading">Sharing knowledge, building dreams</h2>
        <a href="https://www.facebook.com/ntpc1/"><img class="facebook" src="~/Content/Images/facebook1.png" /></a>
        <a href="https://twitter.com/ntpclimited?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img class="twitter" src="~/Content/Images/twitter1.png" /></a>
        <a href="https://www.instagram.com/ntpclimited/?hl=en"><img class="insta" src="~/Content/Images/instagram1.png" /></a>

    </div>

    <div class="breakpage">

        <h1 class="small">Welcome to the India's<br /> Leading Power Generating Organisation</h1>
        <hr />
    </div>

    <!--welcome page-->

    <div class="welcomepage">
        <div class="container">
            <h1 class="h1">About Us</h1>
            <p class="p">
                NTPC is India’s largest power utility with an installed capacity of 72,304  MW (including JVs),
                plans to become a 130 GW company by 2032.Established in 1975, NTPC aims to be the world’s largest
                and best power major.NTPC has comprehensive Rehabilitation & Resettlement and CSR policies well
                integrated with its core business of setting up power projects and generating electricity.
                The company is committed to generating reliable power at competitive prices in a sustainable
                manner by optimising the use of multiple energy sources with innovative eco-friendly technologies
                thereby NTPC is contributing to the economic development of the nation and upliftment of the society.
            </p>
            <a class="a" href="#service">View Our Projects >></a><br><br><br>
            <a class="a" href="/Home/Contact">Contact Us >></a>

        </div>
    </div>


    <!--THIRD DIV-->
    <div class="thirddiv">
        <h1 class="thirdheading">Our Team.</h1>
        <br />
        <p class="para1">
            Energy is indispensable and is one of the essential pillars on which our economy thrives.
            NTPC is committed to provide uninterrupted and affordable power to fulfill this requirement,
            thereby bringing cheers to the farthest reaches of the country. Today, with an installed capacity
            of over 70 GW, NTPC is steering ahead to be India’s largest integrated power company and targets
            to become a 130 GW firm with diversified
            fuel mix and a 600 BU company in terms of generation by 2032.
        </p>
        <div class="smallthree">
            <div>
                <img class="sirimages" src="~/Content/Images/cmd.png" />
                <img class="sirimages" src="~/Content/Images/directorp.png" />
                <img class="sirimages" src="~/Content/Images/directorhr.png" />
                <img class="sirimages" src="~/Content/Images/directorf.png" />
            </div>

            <div class="namebox">
                <div class="nametag"><h1 class="names">Mr. Gurdeep Singh<br /><span>Cheif Managing Director</span></h1></div>
                <div class="nametag1"><h1 class="names">Mr. Ujjwal Kanti Bhattacharya<br /><span>Director, Project</span></h1></div>
                <div class="nametag"><h1 class="names">Mr. Dillip Kumar Patel<br /><span>Director, HR</span></h1></div>
                <div class="nametag"><h1 class="names">Mr. Jaikumar Srinivasan<br /><span>Director, Finance</span></h1></div>

            </div>

        </div>

    </div>

    <!--SERVICES PAGE-->
    <section id="service">
        <div class="container2">
            <h1 class="h11">Our Projects...</h1>
            <p class="p11">NTPC has worked on various projects</p>
            <ul class="ul">
                <div class="sameline">
                <li class="li">
                    <img class="img11" src="~/Content/Images/project1.png" alt="Service 1">
                    <div class="imagebox"><span class="span1"><a class="project" href="/Home/Project1">
                        Asset Monetization & Acquization
                    </a></span></div>

                </li>
                <li class="li">
                    <img class="img11" src="~/Content/Images/project2.jpg" alt="Service 2">
                    <div class="imagebox"><span class="span1"><a class="project" href="/Home/Project2">
                        JVs & Subsidaries
                    </a></span>></div>

                </li>

        </div>

        <div class="sameline">
            <li class="li">
                <img class="img11" src="~/Content/Images/project3.jpg" alt="Service 3">
                <div class="imagebox"><span class="span1"><a class="project" href="/Home/Project3">Distribution Business and P&S</a></span></div>


            </li>
            <li class="li">
                <img class="img11" src="~/Content/Images/project4.jpg" alt="Service 4">
                <div class="imagebox"><span class="span1"><a class="project" href="/Home/Project4">
                        Technology Initiatives
                    </a></span></div>

            </li>

        </div>



        <!--
        <div class="sameline">
        <li class="li">
            <img class="img11" src="https://i.pinimg.com/564x/91/9d/ad/919dad52c0f041b6442c8b452bd6111a.jpg" alt="Service 1">
            <div class="imagebox"><span class="span1"><a class="project" href="/Home/Project5">Project5</a></span></div>

        </li>
        <li class="li">
            <img class="img11" src="https://i.pinimg.com/564x/c9/59/00/c9590049081498dca290183b7847f51d.jpg" alt="Service 2">
            <div class="imagebox"><span class="span1"><a class="project" href="/Home/Project6">Project6</a></span>></div>

        </li>

    </div>

    <div class="sameline">
        <li class="li">
            <img class="img11" src="https://i.pinimg.com/564x/3e/27/33/3e27331a9ce7501ae43bbbf2cc13504d.jpg" alt="Service 3">
            <div class="imagebox"><span class="span1"><a class="project" href="/Home/Project7">Project7</a></span></div>

        </li>
        <li class="li">
            <img class="img11" src="https://i.pinimg.com/564x/93/80/de/9380de46bf67670cb1cff3c238583d9a.jpg" alt="Service 4">
            <div class="imagebox"><span class="span1"><a class="project" href="/Home/Project8">Project8</a></span></div>

        </li>

    </div>
    -->
        </ul>
        <a class="a11" href="/Home/Contact">Contact Us >></a>


    </section>


    <footer>
        <div class="footer">
            <hr class="footerrule" />
            <h4 class="heh">NTPC-Business Consultancy</h4>
            <h5 class="heh">Connect to Social Network.</h5>
            <div>
                <a href="https://www.linkedin.com/company/ntpc?originalSubdomain=in"><img class="footimg" src="~/Content/Images/download.png" /></a>
                <a href="https://www.facebook.com/ntpc1/"><img class="footimg" src="~/Content/Images/facebook.png" /></a>
                <a href="https://www.instagram.com/ntpclimited/?hl=en"><img class="footimg" src="~/Content/Images/instagram.png" /> </a>
                <a href="https://twitter.com/ntpclimited?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><img class="footimg" src="~/Content/Images/twitter.png" /></a>
                <a href="https://www.youtube.com/channel/UCgEMsBDCFjGZqSvSIbPkWcg"><img class="footimg" src="~/Content/Images/youtube.png" /></a>
            </div>
            <p class="footpara">&copy; @DateTime.Now.Year - NTPC LIMITED</p>

        </div>
    </footer>





</body>
</html>